.body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222;
}

h1 {
  text-align: center;
}

Form {
  text-align: center;
  line-height: 25px;
}

Button {
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

input[type=text]{
  text-align: center;
  font: inherit;
  border: 3px solid #7B8585;
  padding: 13px 12px;
  font-size: 16px;
  box-shadow: 0 1px 1px;
  width: 330px;
  outline: none;
  display: block;
  color: black;
  margin: 0 auto 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input:focus {
    background-color: #87CEFA;
}

.wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.loc-wrapper {
  text-align: center;
  position: relative;
}

.loc {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.temp-wrapper {
  text-align: center;
  position: relative;
}

.temp {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.cond-wrapper {
  text-align: center;
  position: relative;
}

.cond {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.temp-symbol {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  margin-left: 2px;
}

.temp-date {
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.outputDisplay {
  margin: auto;
  border: 4px solid black;
  border-radius: 10px;
  position: relative;
  width: 330px;
}
